bin
*.kdb.lock
.checkstyle
.idea
*.iml
build
private
dist
deploy
target
.emacs.desktop*
.classpath
.project
.settings
*~
izettle-crypto/izettle-crypto.log
izettle-ejb/derby.log
*.*#
TAGS
.#*
.DS_Store
/izettle-web/web/socialbanking/js/config.js
nbbuild.xml
nb-configuration.xml
nbactions.xml
izettle-external/creditcall-emvj/doc
.externalToolBuilders
dependency-reduced-pom.xml
.vagrant
# Compiled Python files
*.pyc
izettle-admin/com.sun.aas.instanceRoot_IS_UNDEFINED
izettle-admin/data
izettle-messaging/com.sun.aas.instanceRoot_IS_UNDEFINED
izettle-wire/server/com.sun.aas.instanceRoot_IS_UNDEFINED
izettle-cloudservices/izettle-cloudservices-server/log.file_IS_UNDEFINED
logs
rebel.xml
classes/
